{% extends 'base.html' %}

{% block title %}
    Persons
{% endblock %}

{% block content %}
    <h1>Persons list</h1>
    <div id="example_2" style="display: none">
        <form method="post">
            <label>Firstname</label>
            <input type="text" name="firstname" id="firstname" class="form-control" placeholder="Firstname"><br>
            <label>Surname</label>
            <input type="text" name="surname" id="surname" class="form-control" placeholder="Surname"><br>
            <label>Date of birth</label>
            <input type="date" name="birth" id="birth" class="form-control"><br>
            <label>Job</label>
            <input type="text" name="job" id="job" class="form-control" placeholder="Job"><br>
            <label>Address</label>
            <input type="text" name="address" id="address" class="form-control" placeholder="Address"><br>
            <input type="submit" class="btn btn-info" value="Create">
        </form>
    </div>
    <hr>
    <button class="btn btn-info" id="example_2_2" onclick=" document.getElementById('example_2').style.display='none'; document.getElementById('example_2_2').style.display='none'; document.getElementById('example_2_1').style.display='block';" style="display:none;">Cancel</button>
    <button class="btn btn-info" id="example_2_1" onclick="document.getElementById('example_2').style.display='block'; document.getElementById('example_2_1').style.display='none'; document.getElementById('example_2_2').style.display='block';">Create new</button>
    <br>
    <br>
    {% if persons|length > 0 %}
        <div class="alert alert-info">
            <table class = "table">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Surname</th>
                    <th scope="col">Birth</th>
                    <th scope="col">Job</th>
                </tr>
                {% for p in persons %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ p.firstname }}</td>
                        <td>{{ p.surname }}</td>
                        <td>{{ p.birth }}</td>
                        <td>{{ p.job }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% else %}
         <h3>There are no persons</h3>
    {% endif %}
{% endblock %}